extends layout 

block content

    div(class="about-page")
        h1 About us
        div(class="about-description")
            p In 2012, we started Modern House with a vision - to make a million homes beautiful.
            p Today, we understand that we are here not just to sell well-designed products. We are here to help you create spaces that mirror who you are.
    include foot.pug