footer(class="footer")
    div(class="pages-links")
        h3 Pages
        a(href="/")  Home 
        a(href='/products') Products 
        a(href='/categories') Categories 
        a(href='/about') About 
        a(href='/contact') Contact
    div(class="social-links")
        h3 Social Links
        a(href="#")  Facebook
        a(href='#') Twitter
        a(href='#') Instagram 
        a(href='#') YouTube
    div(class="copyright")
        p  &copy copyright 20012-2022 Modern House . All other trademarks and copyrights are the property of their respective owners. All rights reserved. 