extends layout

block content
  
  div(class="home-body")
        div(class="home-description")
          img(src="/images/chair.png", alt="")
          p Furniture is amongst the most crucial elements of a home and more often than not a true reflection of the people living in it. From the style of bed to the colour of the chairs, every little detail makes a massive impact, which is why choosing the right furniture for your home is essential.
  include foot.pug
